
{% extends "base.html.twig" %}
{%block title %} Art ciné cité -Accueil
{% endblock %}

{% block body %}

<div class="container mt-4">

<div class="jumbotron">
<div 
  <h1 class="display-4">Bienvenue sur Art cité ciné films sur les femmes!</h1>
  <p class="lead"> Lorsque j'étais critique, je pensais qu'un film, pour être réussi, doit exprimer simultanément une idée du monde et une idée du cinéma. La Règle du Jeu ou Citizen Kane répondaient bien à cette définition. Aujourd'hui je demande à un film d'exprimer soit la joie de faire du cinéma, soit l'angoisse de faire du cinéma et je me désintéresse de tout ce qui est entre les deux, c'est-à-dire de tous les films qui ne vibrent pas"Francois Truffaut</p>
  <hr class="my-4">
  <p>Pour commencer ,rendez vous sur la page d'inscription pour utiliser l'application</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">inscription</a>
</div>

</div>





{% endblock %}

